 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 body {
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .header-div {
     display: flex;
     align-items: center;
     padding: 12px 30px;
     gap: 300px;
     position: fixed;
     top: 0px;
     background-color: white;
     width: 100%;
     z-index: 2;
 }

 .header-section-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     font-size: 18px;
     list-style: none;
 }

 .header-section-list li {
     cursor: pointer;

 }

 .header-head-txt {
     color: rgb(31, 31, 96);
          padding-left: 50px;

 }

 .hero-section {
     background-color: aliceblue;
     display: flex;
     padding: 50px 80px;
     margin-top: 70px;
     gap: 100px;
 }

 .hello-txt {
     font-size: 35px;
     color: rgb(31, 31, 96);
 }

 .name-txt {
     font-size: 45px;
     color: rgb(29, 69, 153);
 }

 .hero-btn {
     color: white;
     background-color: rgba(246, 186, 5, 0.959);
     border: none;
     padding: 17px 40px;
     border-radius: 50px;
     margin-top: 40px;
     font-size: 19px;
     margin-right: 10px;
     cursor: pointer;
 }

 .hero-btn:hover {
     background-color: rgb(29, 69, 153);
     transition: 1s;
     margin-top: 10px;
 }

 .hero-desc {
     color: gray;
     font-size: 18px;
     width: 700px;
 }

 .expertise-heading {
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     margin-top: 40px;
 }

 .exp-head {
     color: rgb(29, 69, 153);
     font-size: 25px;
     font-weight: 600;
     margin-bottom: 20px;
     font-family: "Josefin Sans", sans-serif;


 }

 .exp-head2 {
     color: rgb(31, 31, 96);
     font-size: 35px;
     font-weight: bold;
     font-family: "Josefin Sans", sans-serif;
     font-optical-sizing: auto;

 }

 .skill-header {
     font-family: "Josefin Sans", sans-serif;
     color: rgb(31, 31, 96);
 }

 .skill-card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 15px;
     width: 400px;
     text-align: center;
 }

 .animate-on-scroll {
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
 }

 .animate-on-scroll.visible {
     opacity: 1;
 }

 .skill-card img {
     width: 100px;
 }

 .skill-card p {
     font-size: 16px;
     color: rgb(103, 102, 102);
 }

 .skill-section-container {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: px;
     text-align: center;
     margin-top: 50px;
 }

 .skill-sec {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 8px;
     text-align: center;
 }

 .skill-img {
     width: 40px;
     height:40px;
 }

 .skill-sec-container {
     display: flex;
     gap: 40px;
     align-items: center;
 }

 .hero-sec-img {
     width: 300px;
     border-radius: 10px;
 }

 .skill-sec-container1 {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
     gap: 20px;
     margin: 90px;
     background-color: white;
     padding: 40px;
     border-radius: 20px;

 }

 .my-skills-section {
     background-color: aliceblue;
     padding: 10px;
     margin-top: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .header-div2 {
     align-items: center;
     color: rgb(78, 78, 78);
     gap: 5px;
     display: flex;
     flex-direction: column;
     margin-top: 15px;
 }

 .testimonials-div {
     display: flex;
     align-items: center;
     padding: 50px 120px;
     gap: 50px;
 }

 .carousel {
     width: 750px;
     position: relative;
     overflow: hidden;
     border-radius: 15px;
     background: #fff;
 }

 .carousel-content {
     display: flex;
     transition: transform 1s ease-in-out;
 }

 .slide {
     min-width: 100%;
     padding: 30px 30px;
 }

 .buttons {
     top: 50%;
     width: 100%;
     display: flex;
     gap: 20px;
     transform: translateY(-50%);
 }

 button {
     background-color: rgba(246, 186, 5, 0.959);
     border: none;
     color: white;
     padding: 10px 18px;
     cursor: pointer;
     border-radius: 50px;
     font-size: 20px;
 }

 button:hover {
     background-color: rgb(29, 69, 153);
 }

 .testimonials-img:hover {
     transform: scale(110%);
     transition: 1s;
 }

 .comma {
     font: 100px;
     font-weight: bold;
     color: rgba(246, 186, 5, 0.959);
     ;
 }

 .testimonials-name {
     font-size: 20px;
     margin-top: 8px;
     color: rgb(16, 16, 100);
     font-weight: 400;
 }

 .contact-icons {
     color: rgba(246, 186, 5, 0.959);

 }

 .contact-address-div {
     display: flex;
     gap: 30px;
     text-align: center;
     align-items: center;
 }

 .contact-section {
     background-color: aliceblue;
     padding-top: 30px;
     padding-bottom: 40px;
 }

 .contact-form-header {
     text-align: center;
     margin-top: 20px;
 }

 .contact-navs {
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin: 50px;
     margin-left: 100px;
     font-size: 18px;
 }

 .linkedin-txt {
     color: rgb(50, 115, 201);
 }

 .mail-link {
     color: black;
     text-decoration: none;
 }

 .contact-inputs-div {
     display: flex;
     flex-direction: column;
     margin-top: 50px;

 }

 .contact-sub-section {
     display: flex;
     gap: 40px;
 }

 .inputs {
     width: 500px;
     outline: none;
     border: none;
     border: 1px solid rgb(201, 201, 201);
     font-family: "Poppins", sans-serif;
     padding: 10px 10px;
     margin-bottom: 10px;
     border-radius: 3px;
 }

 .inputs-textarea {
     height: 150px;
 }

 .inputs:hover {
     border: 2px solid rgba(246, 186, 5, 0.959);
     transition: 0.6s;
 }

 .inputs-div {
     width: 200px;
 }

 .footer {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(22, 22, 63);
     color: white;
     padding: 30px;
     gap: 30px;
 }

 .footer-li {
     list-style-type: none;
     display: flex;
     gap: 10px;
 }

 .footer-icons {
     display: flex;
     gap: 35px;
     color: blue;
     font-size: 12px;

 }
 .icon-div{
    background-color: white;
    padding: 5px 8px;
    border-radius: 70px;
    cursor: pointer;
 }

 .icon-div:hover{
    background-color: gray;
    
 }
 .footer-txt{
    color: gray;
 }

.Copyright-div{
    margin-top: 10px;
    border-top: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:20px;
}
.project-img{
    width:500px;
    border-radius:8px;
    border: 6px solid rgb(47, 47, 47);
}
.project-title{
     font-family: "Josefin Sans", sans-serif;
     font-size: 25px;
}

.project-badge{
    background-color: rgb(103, 103, 103);
    color:white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 13px;
}
.pro-badges{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.project-link{
    text-decoration: none;
    color:rgba(246, 186, 5, 0.959);
    font-size: 20px;
    font-weight: 500;
}
.project-link:hover{
    text-decoration:underline;
    color:rgb(11, 11, 153);
    transition: 2s;
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.project-inner-card{
       display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 10px;
}
.project-div{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 80px;
    margin:30px
}
.line{
    background-color:rgb(239, 239, 239);
    width: 100%;
    padding: 1px;
}
