 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
 html{
    scroll-behavior: smooth;
 }

 body {
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .header-div {
     display: flex;
     align-items: center;
     padding: 12px 30px;
     gap: 300px;
     position: fixed;
     top: 0px;
     background-color: white;
     width: 100%;
     z-index: 2;
 }

 .header-section-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     font-size: 18px;
     list-style: none;
 }

 .header-section-list a {
     cursor: pointer;
     text-decoration: none;
     color: #000;
 }

  .header-section-list li:hover{
     border-bottom: 2px solid rgba(246, 186, 5, 0.959);
 }


 .header-head-txt {
     color: rgb(31, 31, 96);
     padding-left: 50px;
 }

 .hero-section {
     background-color: aliceblue;
     display: flex;
     padding: 50px 80px;
     margin-top: 70px;
     justify-content: space-between;
     padding: 70px;
 }

 .hello-txt {
     font-size: 35px;
     color: rgb(31, 31, 96);
 }

 .name-txt {
     font-size: 45px;
     color: rgb(29, 69, 153);
 }

 .hero-btn {
     color: white;
     background-color: rgba(246, 186, 5, 0.959);
     border: none;
     padding: 17px 40px;
     border-radius: 50px;
     margin-top: 40px;
     font-size: 19px;
     margin-right: 10px;
     cursor: pointer;
 }

 .hero-btn:hover {
     background-color: rgb(29, 69, 153);
     transition: 1s;
     margin-top: 10px;
 }

 .hero-desc {
     color: gray;
     font-size: 18px;
     width: 700px;
 }

 .expertise-heading {
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     margin-top: 40px;
     padding-top:40px;
 }

 .exp-head {
     color: rgb(29, 69, 153);
     font-size: 25px;
     font-weight: 600;
     margin-bottom: 20px;
     font-family: "Josefin Sans", sans-serif;


 }

 .exp-head2 {
     color: rgb(31, 31, 96);
     font-size: 35px;
     font-weight: bold;
     font-family: "Josefin Sans", sans-serif;
     font-optical-sizing: auto;

 }

 .skill-header {
     font-family: "Josefin Sans", sans-serif;
     color: rgb(31, 31, 96);
 }

 .skill-card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
     width: 380px;
     text-align: center;
 }

 .third-card-img{
    height: 115px;
    margin-bottom: 10px;
 }

 .animate-on-scroll {
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
 }

 .animate-on-scroll.visible {
     opacity: 1;
 }

 .skill-card img {
     width: 100px;
 }

 .skill-card p {
     font-size: 16px;
     color: rgb(103, 102, 102);
 }

 .my-skill-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 70px 0px;
 }
 .skill-section-container {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: px;
     text-align: center;
     margin-top: 50px;
     padding-bottom: 20px;
 }

 .skill-sec {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 8px;
     text-align: center;
      background-color:aliceblue;
     padding:15px;
     font-weight:500;
     border-radius: 5px;
     box-shadow: 1px 1px 1px 1px rgb(217, 215, 215);
     width: 200px;
 }

 .skill-img {
     height:50px;
     width: 40px; 
     cursor: pointer; 
 }
 .skill-img1 {
     height:50px;
     width: 40px; 
     cursor: pointer; 
 }

 .skill-sec-container {
     display: flex;
     align-items: center;
     justify-content:center;
     margin: 30px 20px;
     gap:25px;
     
 }

 .work-section-container{
    background-color: aliceblue;
    padding: 40px;
 }

 .hero-sec-img {
     width:410px;
     border-radius: 10px;
 }

 .about-head{
    font-size: 39px;
    color: rgb(29, 69, 153);;
 }

 .about-head-desc{
    font-size: 30px;
    color: rgb(31,31,96)
 }
.about-summary{
    color:rgb(100, 100, 100);
    font-size: 19px;
}

 .about-sec-container{
    display: flex;
    margin: 20px 60px;
    gap:30px;
 }
 .about-content-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:15px;
    margin-right: 10px;
    
 }

.about-img{
    width: 450px;
    background-color:rgb(248, 246, 246);
    padding: 20px 0px 0px 10px;
    margin: 30px;
    border-radius: 5px;
    height: auto;
}

 .skill-sec-container1 {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
     gap: 20px;
     margin: 20px;
     background-color: white;
     padding: 40px;
     border-radius: 20px;

 }

 .my-skills-section {
     background-color: aliceblue;
     padding: 10px;
     margin-top: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .header-div2 {
     align-items: center;
     color: rgb(78, 78, 78);
     gap: 5px;
     display: flex;
     flex-direction: column;
     margin-top: 15px;
 }

 .testimonials-div {
     display: flex;
     align-items: center;
     padding: 80px 120px;
     gap: 50px;
 }

 .carousel {
     width: 750px;
     position: relative;
     overflow: hidden;
     border-radius: 15px;
     background: #fff;
 }

 .carousel-content {
     display: flex;
     transition: transform 1s ease-in-out;
 }

 .slide {
     min-width: 100%;
     padding: 30px 30px;
 }

 .buttons {
     top: 50%;
     width: 100%;
     display: flex;
     gap: 20px;
     transform: translateY(-50%);
 }

 button {
     background-color: rgba(246, 186, 5, 0.959);
     border: none;
     color: white;
     padding: 10px 18px;
     cursor: pointer;
     border-radius: 50px;
     font-size: 20px;
 }

 button:hover {
     background-color: rgb(29, 69, 153);
 }

 .testimonials-img:hover {
     transform: scale(110%);
     transition: 1s;
 }

 .comma {
     font: 100px;
     font-weight: bold;
     color: rgba(246, 186, 5, 0.959);
     ;
 }

 .testimonials-name {
     font-size: 20px;
     margin-top: 8px;
     color: rgb(16, 16, 100);
     font-weight: 400;
 }

 .contact-icons {
     color: rgba(246, 186, 5, 0.959);

 }

 .contact-address-div {
     display: flex;
     gap: 30px;
     text-align: center;
     align-items: center;
 }

 .contact-section {
     background-color: aliceblue;
     padding-top: 30px;
     padding-bottom: 40px;
 }

 .contact-form-header {
     text-align: center;
     margin-top: 20px;
 }

 .contact-navs {
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin: 50px;
     margin-left: 100px;
     font-size: 18px;
 }

 .linkedin-txt {
     color: rgb(50, 115, 201);
 }

 .mail-link {
     color: black;
     text-decoration: none;
 }

 .contact-inputs-div {
     display: flex;
     flex-direction: column;
     margin-top: 50px;

 }

 .contact-sub-section {
     display: flex;
     gap: 40px;
 }

 .inputs {
     width: 500px;
     outline: none;
     border: none;
     border: 1px solid rgb(201, 201, 201);
     font-family: "Poppins", sans-serif;
     padding: 10px 10px;
     margin-bottom: 10px;
     border-radius: 3px;
 }

 .inputs-textarea {
     height: 150px;
 }

 .inputs:hover {
     border: 2px solid rgba(246, 186, 5, 0.959);
     transition: 0.6s;
 }

 .inputs-div {
     width: 200px;
 }

 .footer {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(22, 22, 63);
     color: white;
     padding: 30px;
     gap: 30px;
 }

 .footer-li {
     display: flex;
     gap: 10px;
     list-style-type: none;
 }
 .footer-li a{
 text-decoration: none;
 color:gray;
 }

 .footer-icons {
     display: flex;
     gap: 35px;
     color: blue;
     font-size: 12px;

 }
 .icon-div{
    background-color: white;
    padding: 5px 8px;
    border-radius: 70px;
    cursor: pointer;
 }

 .icon-div:hover{
    background-color: gray;
    
 }
 .footer-txt{
    color: gray;
 }

.Copyright-div{
    margin-top: 10px;
    border-top: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top:20px;
}
.project-img{
    width:500px;
    border-radius:8px;
    height: 250px;
    box-shadow: 1px 1px 1px 1px rgb(210, 209, 209);
}
.project-title{
     font-family: "Josefin Sans", sans-serif;
     font-size: 25px;
}

.project-badge{
    background-color: rgb(103, 103, 103);
    color:white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 13px;
}
.pro-badges{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.project-link{
    text-decoration: none;
    color:rgba(246, 186, 5, 0.959);
    font-size: 20px;
    font-weight: 500;
}
.project-link:hover{
    text-decoration:underline;
    color:rgb(11, 11, 153);
    transition: 2s;
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 1px rgb(225, 224, 224);
}
.project-inner-card{
       display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap: 10px;
}
.project-div{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 80px;
    margin:30px
}
.line{
    background-color:rgb(239, 239, 239);
    width: 100%;
    padding: 1px;
}
